<section>
  <div class="row">
    <div class="large-12 columns">
      <div class="main-wrapper">
        <a href="/"><h1 class="custom-text">Omaha Bicycle Co.</h1></a>
        <br>
        <h3 class="custom-text">Bicycles & Repair | Coffee & Tea</h3>
        <hr>
        <div class="row">
          <div class="large-12 columns large-centered">
            <ul class="button-group even-6">
              <li><a href="/about" class="button custom-text">About</a></li>
              <li><a href="/brands" class="button custom-text">Brands</a></li>
              <li><a href="#" class="button custom-text">Coffee & Tea</a></li>
              <li><a href="#" class="button custom-text">Custom Builds</a></li>
              <li><a href="#" class="button custom-text">Events</a></li>
              <li><a href="#" class="button custom-text">#pedalhappy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="row about">
  <div class="medium-6 large-8 columns">
    <h4>Sarah J.</h4>
    <p>I like bikes and think everybody should have one. Advocacy! #pedalhappy #shiftomaha #bikegang</p>
  </div>
  <div class="medium-6 large-4 columns">
    <%= image_tag "sarahelf-bio.jpg" %>
  </div>
</div>

<div class="row about">
  <div class="medium-6 large-4 columns">
    <%= image_tag "Jim-P-225x300.jpg" %>
  </div>
  <div class="medium-6 large-8 columns">
    <h4>Jim P.</h4>
    <p>DH racer in a previous life, now exploring what Omaha has to offer after relocating here from New Jersey!</p>
  </div>
</div>

<div class="row about">
  <div class="medium-6 large-8 columns">
    <h4>Copper</h4>
    <p>Loves riding in her Burley Tail Wagon and chasing sticks (and food).</p>
  </div>
  <div class="medium-6 large-4 columns">
    <%= image_tag "Copper-Bio.jpg" %>
  </div>
</div>

<div class="row about">
  <div class="medium-6 large-4 columns">
    <%= image_tag "Squirrel-Drawing-300x296.jpg" %>
  </div>
  <div class="medium-6 large-8 columns">
    <h4>Squirrel</h4>
    <p>Really into nuts.</p>
  </div>
</div>
<br><br>
