<section class="hero">
  <div class="row">
    <div class="large-12 columns">
      <div class="main-wrapper custom-height">
        <a href="/"><h1>Omaha Bicycle Co.</h1></a>
        <br>
        <h3>We like steel. And wool. Steel wool, that's just okay.</h3>
        <hr>
        <div class="row">
          <div class="large-12 columns large-centered">
            <ul class="button-group even-6">
              <li><a href="/about" class="button">About</a></li>
              <li><a href="#" class="button">Brands</a></li>
              <li><a href="#" class="button">Coffee & Tea</a></li>
              <li><a href="#" class="button">Custom Builds</a></li>
              <li><a href="#" class="button">Events</a></li>
              <li><a href="#" class="button">#pedalhappy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero-content">
<div class="row">
  <div class="large-8 columns about-content">
    <h4>You Down With OBC?</h4>
    <p>Bicycles, parts, accessories, and clothing all find a home at OBC, along with some tasty Intelligentsia coffee and tea options as well.  It’s a space where group rides start and end, friends meet to geek out about bikes, and the cycling movement in Omaha is pushed forward.</p>
  </div>
  <div class="large-4 columns">
    <ul class="small-block-grid-2">
      <li><a href="#"><%= image_tag "OBC_door6.JPG" %></a></li>
      <li><a href="#"><%= image_tag "OBC_bicycles.JPG" %></a></li>
      <li><a href="#"><%= image_tag "OBC_sign_landscape.JPG" %></a></li>
      <li><a href="#"><%= image_tag "OBC_bikes.JPG" %></a></li>
    </ul>
  </div>
</div>
</section>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <div class="row">
        <div class="large-9 columns">
          <h4>Hours</h4>
          <p>
            Sunday & Monday: Closed
          </p>
          <p>
            Tuesday - Friday: 8am to 7pm
          </p>
          <p>
            Saturday: 9am to 5pm
          </p>
        </div>
        <div class="large-3 columns">
          <a href="#" class="radius button right">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="row">
    <div class="large-6 columns">
      <p>© 2015 Omaha Bicycle Co.</p>
    </div>
    <div class="large-6 columns">
      <ul class="inline-list right">
        <li><a href="#">About</a></li>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
  </div>
</footer>
